
<%= form_for(User.new, remote: true) do |f| %>
  <div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
  </div>
  <div class="field">
  <%= f.label :comment %><br />
  <%= f.text_field :review %>
  </div>
  <div class="actions">
  <%= f.submit %>
  </div>
<% end %>

